<%layout("/layouts/boilerplate")%>
<body>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">ERROR OCCURED</h4>
        <p><%=message%> <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
</body>