<footer>
    <div class="f_info">
    <div class="f_info_links">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-regular fa-envelope"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f_info_brand">&copy WANDERLUST PRIVATE LIMITED</div>
    <div class="f_info_terms">
        <a href="/">PRIVACY</a>
        <a href="/">TERMS</a>
    </div>
</div>
</footer>