<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-6 offset-3">
            
            <h4>SIGN UP FOR WANDERLUST</h4>
            <form method="post" action="/signup">
                <div class="mb-3">  
                  <label for="username" class="form-label">Username</label>
                  <input type="text" name="username" placeholder="enter username" class="form-control" required>
                  
              </div>
              <div class="mb-3">  
                <label for="email" class="form-label">Email-Id</label>
                <input type="email" name="email" placeholder="enter email id" class="form-control" required>
                
            </div>
            <div class="mb-3">  
                <label for="password" class="form-label">PASSWORD</label>
                <input type="password" name="password" placeholder="enter password" class="form-control" required>
                
            </div>
            <button class="btn btn-danger">SIGNUP</button>
            <br><br>
        </form>
        <h6>HAVE AN ACCOUNT?</h6>
        <form method="get" action="/login">
            <button class="btn btn-success">LOGIN</button>
        </form>
        <br>
    </div>
    </div>
    </body>
    